@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1D1510;
  --foreground: #F8E6D1;
  --subtext: #FD7128;
  --text: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
  letter-spacing: 0.05em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
}

p {
  letter-spacing: 0.005em;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

